@import "../../variables.scss";

.accueil-container {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 200px;
}

.text-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accueil {
  font-family: "Londrina Outline", cursive;
  font-size: 2.5rem;
  font-weight: bold;
  color: $leasha-grey;
  text-align: center;
  padding: 20px;
  border-top: 5px solid $leasha-grey;
  border-bottom: 5px solid $leasha-grey;
}

.logo {
  max-width: 80%;
  max-height: 80vh;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}
