@import "../../../variables.scss";

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  padding: 10px 15px;
  border: 1px $leasha-white;
  background-color: $leasha-light-beige;
  color: $leasha-grey;
  box-shadow: 2px 2px 5px $leasha-white;
  width: 100%;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.input:focus {
  outline: none;
  background-color: $leasha-white;
  box-shadow: 2px 2px 5px $leasha-white;
}

.invalid-feedback {
  color: $leasha-red;
  margin-top: 5px;
}
