<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let cardMemo of cardMemos">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ cardMemo.titre }}</h5>
          <a
            [routerLink]="['/memoCarte/Mes mémos cartes/', cardMemo.id]"
            class="btn btn-style"
            >Voir le mémo</a
          >
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-leasha-button
      buttonText="Ajouter un mémo"
      (click)="addMemoDialog.show()"
    >
      Ajouter un mémo
    </app-leasha-button>
  </div>
</div>
<dialog #addMemoDialog>
  <div>
    <h3>Ajouter un mémo</h3>
    <app-leasha-input
      id="memo"
      label="Titre * :"
      type="text"
      name="memo"
      placeholder="Saisir le titre du mémo..."
    ></app-leasha-input>
    <label>Type de mémo :</label>
    <select class="form-select mb-2">
      <option value="" disabled selected hidden>
        Sélectionner un type de mémo
      </option>
      <option value="Langues">Langues étrangères</option>
      <option value="Français">Français</option>
      <option value="Mathématiques">Mathématiques</option>
      <option value="Cuisine">Cuisine</option>
      <option value="Autres">Autres</option>
    </select>

    <label>Description :</label>
    <textarea
      id="description"
      name="description"
      class="form-control mb-2"
      rows="5"
      placeholder="Saisir une description..."
    ></textarea>
    <app-leasha-button buttonText="Ajouter" (click)="addMemoDialog.close()">
      Ajouter
    </app-leasha-button>
  </div>
</dialog>
