<app-sidebar></app-sidebar>
<div class="container">
  <div>
    <app-leasha-button
      buttonText="Ajouter un mémo"
      (click)="addMemoDialog.show()"
    ></app-leasha-button>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let cardMemo of cardMemos">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ cardMemo.titre }}</h5>
          <a
            [routerLink]="['/memoCarte/Mes mémos cartes/', cardMemo.id]"
            class="btn btn-style"
            >Voir le mémo</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<dialog #addMemoDialog>
  <div>
    <h3>Ajouter un mémo</h3>
    <button class="close-button" (click)="closeDialog()">×</button>
    <form [formGroup]="addMemoForm" (ngSubmit)="addMemo()">
      <app-leasha-input
        [control]="addMemoForm.get('titre')"
        id="memo"
        label="Titre * :"
        type="text"
        name="memo"
        placeholder="Saisir le titre du mémo..."
      ></app-leasha-input>
      <label>Type de mémo * :</label>
      <select class="form-select mb-2" formControlName="categorie">
        <option value="" disabled selected hidden>
          Sélectionner un type de mémo
        </option>
        <option
          *ngFor="let categorie of categories"
          [value]="categorie.libelle"
        >
          {{ categorie.libelle }}
        </option>
      </select>
      <label>Description :</label>
      <textarea
        id="description"
        name="description"
        class="form-control mb-2"
        rows="5"
        placeholder="Saisir une description..."
        formControlName="description"
      ></textarea>
      <app-leasha-button type="submit" buttonText="Ajouter"></app-leasha-button>
      <app-leasha-button
        type="button"
        buttonText="Annuler"
        (click)="closeDialog()"
      ></app-leasha-button>
    </form>
  </div>
</dialog>
