<div
  class="d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div>
    <label for="username">Pseudo:</label>
    <input
      type="text"
      id="username"
      name="username"
      class="form-control mb-2"
    />

    <div class="mb-2">
      <label for="pass">Mot de passe:</label>
      <input
        type="password"
        id="pass"
        name="password"
        minlength="8"
        required
        class="form-control"
      />
    </div>

    <input
      type="submit"
      value="Se connecter"
      class="btn btn-outline-secondary"
    />
  </div>
</div>
