<nav class="d-flex flex-column flex-shrink-0 p-3 sidebar">
  <span class="fs-4">Mes mémos</span>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        [routerLink]="['/Tous mes mémos']"
        class="nav-link active"
        aria-current="page"
      >
        Mes cartes
      </a>
    </li>
    <li>
      <a [routerLink]="['/memoCarte/liste']" class="nav-link">
        Mes cartes à retourner
      </a>
    </li>
    <li>
      <a [routerLink]="['/Mes mémos listes']" class="nav-link"> Mes listes </a>
    </li>
    <li>
      <a [routerLink]="['/Mes quiz']" class="nav-link link-body-emphasis">
        Mes quiz
      </a>
    </li>
  </ul>
  <hr />
</nav>
