<nav class="d-flex flex-column flex-shrink-0 p-3 sidebar">
  <span class="fs-4">Mes mémos</span>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        [routerLink]="['/memoCarte/Mes mémos cartes']"
        routerLinkActive="active"
        class="nav-link link-body-emphasis"
      >
        Mes cartes à retourner
      </a>
    </li>
    <li class="nav-item">
      <a
        [routerLink]="['/Mes mémos listes']"
        routerLinkActive="active"
        class="nav-link link-body-emphasis"
      >
        Mes listes
      </a>
    </li>
    <li class="nav-item">
      <a
        [routerLink]="['/Mes quiz']"
        routerLinkActive="active"
        class="nav-link link-body-emphasis"
      >
        Mes quiz
      </a>
    </li>
  </ul>
  <hr />
</nav>
