@import "../../../variables.scss";

.btn-style {
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid $leasha-white;
  border-radius: 5px;
  background-color: $leasha-light-beige;
  color: $leasha-grey;
  box-shadow: 2px 2px 5px $leasha-white;
}

.btn-style:hover {
  background-color: $leasha-white;
  box-shadow: 1px 1px 1px $leasha-white;
}
