@import "../../../variables.scss";

.btn-style {
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid $leasha-black;
  border-radius: 5px;
  background-color: $leasha-light-beige;
  color: $leasha-black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-style:hover {
  background-color: $leasha-dark-beige;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
