<app-sidebar></app-sidebar>

<div class="container">
  <app-leasha-button
    buttonText="Ajouter une carte"
    (click)="addCardDialog.show()"
  ></app-leasha-button>
  <div class="row">
    <div class="col-md-4" *ngFor="let card of cards">
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <p class="card-text">{{ card.recto }}</p>
          <p class="card-text">{{ card.verso }}</p>
          <div class="d-flex justify-content-between">
            <app-leasha-button
              buttonText="Modifier"
              (click)="editCard(card)"
            ></app-leasha-button>
            <app-leasha-button
              buttonText="Supprimer"
              (click)="openDeleteConfirmDialog(card.id!)"
            ></app-leasha-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<dialog #addCardDialog>
  <div>
    <h3 *ngIf="selectedCardId === null">Ajouter une carte</h3>
    <h3 *ngIf="selectedCardId !== null">Modifier une carte</h3>
    <button class="close-button" (click)="closeDialog()">×</button>
    <form
      [formGroup]="addCardForm"
      (ngSubmit)="selectedCardId === null ? addCard() : updateCard()"
    >
      <app-leasha-input
        [control]="addCardForm.get('recto')"
        id="recto"
        label="Recto * :"
        type="text"
        class="input"
        name="memo"
        placeholder="Entrer le recto de la carte..."
      ></app-leasha-input>
      <app-leasha-input
        [control]="addCardForm.get('verso')"
        id="verso"
        label="Verso * :"
        type="text"
        class="input"
        name="verso"
        placeholder="Entrer le verso de la carte..."
      ></app-leasha-input>
      <app-leasha-button
        type="submit"
        [buttonText]="submitButtonText"
      ></app-leasha-button>
      <app-leasha-button
        type="button"
        buttonText="Annuler"
        (click)="closeDialog()"
      ></app-leasha-button>
    </form>
  </div>
</dialog>

<dialog #confirmDeleteDialog>
  <div>
    <h3>Confirmer la suppression</h3>
    <p>Êtes-vous sûr de vouloir supprimer cette carte ?</p>
    <div class="d-flex justify-content-end">
      <app-leasha-button
        buttonText="Annuler"
        (click)="closeConfirmDeleteDialog()"
      ></app-leasha-button>
      <app-leasha-button
        buttonText="Confirmer"
        (click)="confirmDeleteCard()"
      ></app-leasha-button>
    </div>
  </div>
</dialog>
