<div
  class="d-flex justify-content-center align-items-center login"
  style="height: 100vh"
>
  <div>
    <app-leasha-input
      id="username"
      label="Pseudo :"
      type="text"
      name="username"
      placeholder="Saisir un pseudo"
    ></app-leasha-input>

    <app-leasha-input
      id="pass"
      label="Mot de passe :"
      type="password"
      name="password"
      minlength="8"
      placeholder="Saisir un mot de passe"
    ></app-leasha-input>

    <app-leasha-button
      type="submit"
      buttonText="Se connecter"
    ></app-leasha-button>
  </div>
</div>
