@import "../../variables.scss";

.login-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 20px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.registration-section,
.login-section {
  width: 35%;
  margin: 10vw;

  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 20px;
  }
}

dialog {
  position: fixed;
  top: 50%;
  width: 45%;
  transform: translateY(-50%);
}
