.registration-section,
.login-section {
  position: fixed;
  top: 50%;
  width: 45%;
  transform: translateY(-50%);
}

.registration-section {
  left: 5%;
}

.login-section {
  right: 5%;
}

dialog {
  position: fixed;
  top: 50%;
  width: 45%;
  transform: translateY(-50%);
}
