<nav class="navbar navbar-expand-lg sticky-top">
  <a class="navbar-brand m-2" href="#">LeaSha</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active m-2">
        <a [routerLink]="['']" class="nav-link"
          >Accueil<span class="sr-only"></span
        ></a>
      </li>
      <li class="nav-item dropdown m-2">
        <a
          class="nav-link dropdown-toggle disabled"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Tous les mémos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item m-2">
        <a
          [routerLink]="['/Tous mes mémos']"
          class="nav-link"
          tabindex="-1"
          aria-disabled="true"
          >Mes mémos</a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="input-group">
        <input
          class="form-control mr-sm-2 searchInput"
          type="search"
          placeholder="Rechercher..."
          aria-label="Search"
        />
        <button type="submit" class="searchButton">Rechercher</button>
      </div>
    </form>
    <div class="ml-auto">
      @if (!currentUser) {
      <app-leasha-button
        [routerLink]="['/utilisateur/inscription']"
        buttonText="Se connecter / S'inscrire"
      ></app-leasha-button>
      } @else {
      <app-leasha-button
        buttonText="Se déconnecter"
        (click)="logout()"
      ></app-leasha-button>
      }
    </div>
    <div class="dropdown">
      <a
        href="#"
        class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="https://github.com/mdo.png"
          alt=""
          width="32"
          height="32"
          class="rounded-circle me-2"
        />
        <strong>{{ currentUser?.username }}</strong>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
</nav>
